@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* 400 og 700 står for normal og bold type-faces*/

body{
  color: rgb(81,125,144) /*#555*/;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1000px;
  margin:0 auto;
}

#header{
  background-color: rgb(54,84,96) /*#1abc9c*/;
  height: 150px;
  line-height: 150px;
}

#header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover{
color:#222
}

#header-title{
  display: block;
  float: left;
  font-size:20px;
  font-weight: bold;
}

#header-nav{
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li{
  display: inline;
  padding-left: 20px;/* adskiller items*/
}

#footer {
  background-color:#2f2f2f;
  padding: 50px 0;
}

.column{
  min-width: 300px;
  display: inline-block;
  vertical-align:top;
}

#footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing:0.1em;
}

#footer p{
  color:white;
}

a{
  color: #1abc9c;
  text-decoration: none;
}

a:hover{
  color: #F6A623;
  text-decoration: none;
}

.post{
  max-width:800px;
  margin:0 auto;
  padding: 60px 0; /* tilføjer plads, ift footer og header.*/
}

.post-author img{
width:120px;
height: 120px;
vertical-align: middle;
}

.post-author span{
  margin-left: 16px;
}

.post-date{
  color: #D2D2D2;
  font-size: 14px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:0.1em;
}
h1, h2, h3, h4 {
  color: rgb(54,84,96) ;/*#333*/
}
p{
  line-height: 1.5;
}

.post, .about{
  max-width: 800px;
  margin:0 auto;
  padding: 60px 0;
}
